doctype 5
html(lang="en")
  head
    title Coral
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
    script(src='/scripts/jquery-1.8.0.js')
    script(src='/scripts/underscore.js')
    script(src='/scripts/backbone.js')
    script(src='/scripts/bootstrap.js')
  body
    block content